.search{
  margin-bottom: 1rem;
}
/* .search input{
  width: 20rem;
  display: block;
  padding: 10px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  width: 145%;
  margin-right: 0 20%;
  outline: none;
} */