@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* background:  url('https://miro.medium.com/max/1200/1*dP81IJq-tGFxy1rIK3RYsg.png')  */
               /* center center/cover; */
  
  height: 100vh;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  background-color: bisque;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  margin: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search {
  height: 100px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 2rem;
  padding-left: 17vw;
  /* border-radius: 10rem; */
}

.card {
  /* border-radius: 10rem; */
  /* border: none; */
  cursor: pointer;
  background-color: transparent;
  height: 14rem;
  width: 12rem;
  perspective: 1000px;
}

.card h1 {
  font-size: 25px;
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: rgb(36, 30, 30);
  color: white;
  padding: 1rem;
  /* padding-top: 2rem; */
  transform: rotateY(180deg);
}
.card-back h1{
  font-size: 1rem;
}
.card-back li{
  font-size: 0.8rem;
  color: yellow;
  padding-bottom: 0.5rem;
}
.card-back li p{
  font-size: 0.6rem;
  color: antiquewhite;
}

.card li {
  list-style: none;
  /* font-size: 0.7rem; */
  /* padding-bottom: 10px; */
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}